.card{
    display: none;
    box-sizing: border-box;
    width: 2162px;
    height: 330px;
    justify-content: space-around;
    font-weight: 400;
    padding-top: 10px;
    font-family:"Nunito Sans", sans-serif;
    position: absolute;
    top: 100%;
    left: 63%;
    transform: translateX(-50%);
}

.all-categories:hover .card{
    display: flex;
    opacity: 1;
}

.card__categories{
    display: flex;
    flex-direction: column;
}


.card__categories__row{
    display: flex;
    align-items: baseline;
}

.card__categories__categorie{
    display: flex;
    width: 400px;
    justify-content: space-evenly;
}

.card__categories__departament{
    background-color: #F5F5F5;
    display: flex;
    width: 190px;
    justify-content: space-between;
    padding: 5px;
}

.first{
    padding-top: 15px;
}


.card__categories__row:hover .card__categories__departament--text{
    color:#005CFF;
    font-weight: 700;
}

.card__categories__row:hover .card__categories__categories--text{
    color:#005CFF;
    font-weight: 700;
}

.card__img{
    width: 236px;
    height: 298px;
    align-self: center;
}


.departament-card{
    display: flex;
    width: 1262px;
    max-height: 330px;
    justify-content: space-between;
    position: absolute;
    padding-top: 10px;
    font-weight: 400;
    font-family:"Nunito Sans", sans-serif;
    color: #656565;
    margin: 0 auto;
    left: 18%;

}

.departament-card--title{
    font-weight: 700;
    font-size: 16px;
    color:#000000;
    margin-bottom: 15px;
}

.departament-img{
    padding-top: 15px;
}